@charset "UTF-8";
@font-face {
  font-family: 'Conv_Big_Caslon_Medium';
  src: url("../font/Big_Caslon_Medium/Big_Caslon_Medium.eot");
  src: local("☺"), url("../font/Big_Caslon_Medium/Big_Caslon_Medium.woff") format("woff"), url("../font/Big_Caslon_Medium/Big_Caslon_Medium.ttf") format("truetype"), url("../font/Big_Caslon_Medium/Big_Caslon_Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%; }

body {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.25em;
  scroll-behavior: smooth;
  font-family: 'Bodoni Moda', serif;
  background-color: #fff2e6;
  color: #1f1f21; }

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

h1 {
  color: #f9b55c;
  line-height: 1.4955em; }

h2 {
  color: #c61f26;
  line-height: 1.2em;
  margin: 1rem 0; }

h3 {
  font-family: 'Conv_Big_Caslon_Medium', Sans-Serif;
  color: #c61f26;
  line-height: 1.25em;
  font-size: 2.4rem;
  margin: 1rem 0; }

h4 {
  font-family: 'Conv_Big_Caslon_Medium', Sans-Serif;
  color: #c61f26;
  line-height: 1.25em;
  font-size: 1.65rem;
  margin: 1rem 0; }

h5 {
  font-size: 20px;
  line-height: 1.4955em;
  color: #f9b55c; }

strong, b {
  font-weight: 800; }

p {
  font-family: 'Conv_Big_Caslon_Medium', Sans-Serif;
  color: #1f1f21;
  font-size: 20px;
  line-height: 1.4955em;
  margin-bottom: 20px; }
  p:last-child {
    margin-bottom: 0; }

a {
  text-decoration: none; }

.text__center {
  text-align: center !important; }

.container {
  max-width: 1320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: relative; }

.container-fluid {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  position: relative; }

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

::selection {
  background: rgba(240, 78, 54, 0.2);
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: rgba(240, 78, 54, 0.2);
  /* Gecko Browsers */ }

section {
  padding: 70px 0;
  position: relative; }

.padding_bottom_0 {
  padding-bottom: 0 !important; }

.padding_top_0 {
  padding-top: 0 !important; }

.margin_bottom_0 {
  margin-bottom: 0 !important; }

.margin_top_0 {
  margin-top: 0 !important; }

.padding_top_25 {
  padding-top: 25px; }

.padding_top_35 {
  padding-top: 35px; }

.padding_top_45 {
  padding-top: 45px; }

.padding_top_55 {
  padding-top: 55px; }

.padding_top_100 {
  padding-top: 100px; }

.padding_bottom_100 {
  padding-bottom: 100px; }

.padding_bottom_35 {
  padding-bottom: 35px; }

.padding_bottom_45 {
  padding-bottom: 45px; }

.padding_bottom_55 {
  padding-bottom: 55px; }

.margin_bottom_100 {
  margin-bottom: 100px; }

.margin_bottom_35 {
  margin-bottom: 35px; }

.margin_bottom_45 {
  margin-bottom: 45px; }

.margin_bottom_55 {
  margin-bottom: 55px; }

.grid_wrapper__2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.grid_wrapper__3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px; }

.grid_wrapper__4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.grid_wrapper__5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); }

.grid_wrapper__6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

.lg__padding {
  padding: 90px 0; }

#app {
  position: relative; }

header {
  height: 800px;
  background: url("../img/hero.webp");
  background-size: cover;
  background-position: center top;
  position: relative;
  vertical-align: top;
  transform-origin: center top;
  margin-top: 69px; }

.sidebar-container {
  position: absolute;
  width: 311px;
  height: 800px;
  top: 0;
  left: 0;
  background-color: rgba(198, 31, 38, 0.95); }
  .sidebar-container:before {
    left: 20px;
    z-index: 1; }
  .sidebar-container:after {
    right: 20px; }
  .sidebar-container:before, .sidebar-container:after {
    position: absolute;
    top: 0;
    content: "";
    width: 5px;
    height: 100%;
    background-repeat: repeat-y;
    background: url("../img/sidebar-line.png"); }
  .sidebar-container .yellow-wave {
    position: absolute;
    width: 311px;
    height: 53px;
    background: url("../img/wave.png");
    background-repeat: repeat-x;
    bottom: 0;
    left: 0; }
  .sidebar-container .logo {
    text-align: center;
    margin-bottom: 15px; }
    .sidebar-container .logo a {
      display: inline-block;
      margin: auto; }
  .sidebar-container nav {
    font-family: 'Montserrat', sans-serif; }
    .sidebar-container nav ul li {
      position: relative; }
      .sidebar-container nav ul li a {
        color: #f9b55c;
        text-transform: uppercase;
        padding: .38rem .95rem;
        display: inline-block;
        border-radius: 3px;
        margin: 0.35rem 0;
        transition: all ease-in-out 180ms; }
        .sidebar-container nav ul li a:hover, .sidebar-container nav ul li a.active {
          background-color: #f9b55c;
          color: #1f1f21; }
      .sidebar-container nav ul li ul {
        position: absolute;
        background: rgba(198, 31, 38, 0.95);
        font-size: 15px;
        top: 0;
        z-index: 1;
        left: 100%;
        opacity: 0;
        visibility: hidden; }
        .sidebar-container nav ul li ul li {
          white-space: nowrap; }
      .sidebar-container nav ul li:hover ul {
        opacity: 1;
        visibility: visible; }

.main-content {
  background: #fff2e6;
  transform: translateZ(0);
  padding: 10px 0;
  position: relative; }
  .main-content:after {
    position: absolute;
    display: block;
    content: "";
    background: url("../img/sidebar-cloud.webp");
    background-repeat: no-repeat;
    width: 213px;
    height: 124px;
    top: -70px;
    left: 187px; }

.border-top {
  position: relative; }
  .border-top:before {
    position: absolute;
    top: 0;
    content: "";
    height: 18px;
    width: 100%;
    left: 0;
    background: linear-gradient(180deg, #F9C200 0%, #BA1621 100%); }

.heading-text {
  width: max-content;
  height: 151px;
  position: relative;
  background-image: url(../img/heading-bg-parts.png);
  background-repeat: repeat-x;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: auto;
  padding: 0 30px; }
  .heading-text:after {
    background-image: url(../img/heading-bg-right-parts.png);
    right: -29.5px;
    width: 30px; }
  .heading-text:before {
    background-image: url(../img/heading-bg-left-parts.png);
    left: -37.5px;
    width: 38px; }
  .heading-text:after, .heading-text:before {
    position: absolute;
    display: block;
    content: "";
    height: 151px;
    background-repeat: no-repeat; }
  .heading-text h2 {
    color: #f9b55c;
    text-transform: uppercase;
    font-size: 3rem; }
  .heading-text.heading-text-lg {
    top: -68px; }

.heading-text-sm {
  height: 111px;
  background-size: contain;
  padding: 0 50px; }
  .heading-text-sm:after, .heading-text-sm:before {
    height: 111px;
    background-size: contain; }
  .heading-text-sm:before {
    left: -28px; }
  .heading-text-sm h2 {
    font-size: 2.5rem; }

.welcome-container img {
  margin: auto;
  transform: translateY(-4px); }
.welcome-container p {
  margin-bottom: 0; }
.welcome-container h3 {
  margin-top: 0.25rem; }
.welcome-container ul {
  padding-top: 90px; }
.welcome-container .welcome-to-heading .heading-text {
  margin-top: -75px; }
.welcome-container .grid_wrapper__2 {
  gap: 10%; }

.gold-border {
  position: relative;
  background-image: url(../img/border-gold.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin: auto;
  min-height: 273px;
  background-size: 100%;
  padding: 0 50px;
  background-position: center; }
  .gold-border p {
    margin: 0; }

#our-history-section {
  padding-top: 170px;
  margin-top: 30px;
  position: relative;
  background-image: url(../img/bg-wave.png);
  background-repeat: repeat;
  background-position: center;
  background-size: contain; }
  #our-history-section .grid_wrapper__2 {
    gap: 10%;
    padding-bottom: 50px; }
    #our-history-section .grid_wrapper__2:first-child .timeline-detail:before {
      display: none; }
    #our-history-section .grid_wrapper__2:last-child .timeline-detail:after {
      display: none; }
  #our-history-section .thumbnail {
    border: 12px solid #fffee8;
    box-shadow: 0 4px 13px -2px rgba(0, 0, 0, 0.3); }
    #our-history-section .thumbnail img {
      width: 100%; }
  #our-history-section .timeline-detail {
    position: relative;
    width: 100%; }
    #our-history-section .timeline-detail:before {
      position: absolute;
      display: block;
      content: "";
      background: linear-gradient(270deg, #F9C200 0%, #BA1621 100%);
      width: 9px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translate(0, -50%); }
    #our-history-section .timeline-detail:after {
      position: absolute;
      display: block;
      content: "";
      background: linear-gradient(270deg, #F9C200 0%, #BA1621 100%);
      width: 9px;
      height: 100%;
      bottom: -100%;
      left: 50%;
      transform: translate(0, -50%); }
    #our-history-section .timeline-detail h3 {
      position: relative;
      padding-left: 58px; }
      #our-history-section .timeline-detail h3:before {
        position: absolute;
        display: block;
        content: "";
        width: 50px;
        height: 50px;
        background-image: url(../img/flower.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        left: 0; }
  #our-history-section .timeline-info {
    position: relative;
    background-image: url(../img/timeline-bg.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: auto;
    min-height: 230px;
    background-size: 100%;
    padding: 0 40px;
    background-position: center;
    text-align: center; }
    #our-history-section .timeline-info p {
      font-size: 18px;
      margin: 0; }
  #our-history-section .centered-timeline {
    display: flex;
    align-items: center; }

.three-info-container .grid_wrapper__3 {
  gap: 40px; }

.three-detail .heading-text-sm {
  padding: 0;
  width: 82%; }
  .three-detail .heading-text-sm h2 {
    font-size: 1.1rem;
    line-height: 1.35em; }
.three-detail .icon-flower {
  margin-bottom: 15px; }

.text-red {
  color: #c61f26; }

.icon {
  position: relative; }
  .icon.icon-flower {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../img/flower.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0; }

.item-img a {
  display: block; }

.banquet-halls-img {
  width: 100%; }

.our-menu-content {
  position: relative;
  background-image: url(../img/bg-wave.png);
  background-repeat: repeat;
  background-position: center;
  background-size: contain; }
  .our-menu-content .our-menu-container {
    padding: 80px 0 200px 0; }
  .our-menu-content .our-menu-btn .heading-text-sm {
    width: 73%; }
    .our-menu-content .our-menu-btn .heading-text-sm h2 {
      font-size: 1.75rem; }
  .our-menu-content .our-menu-btn a:hover {
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 150ms 2 linear; }
@keyframes shake {
  0% {
    transform: translate(3px, 0); }
  50% {
    transform: translate(-3px, 0); }
  100% {
    transform: translate(0, 0); } }
@-moz-keyframes shake {
  0% {
    -moz-transform: translate(3px, 0); }
  50% {
    -moz-transform: translate(-3px, 0); }
  100% {
    -moz-transform: translate(0, 0); } }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(3px, 0); }
  50% {
    -webkit-transform: translate(-3px, 0); }
  100% {
    -webkit-transform: translate(0, 0); } }
#banquet-halls {
  margin-bottom: 100px; }

.restaurant-container {
  padding: 30px 0; }
  .restaurant-container .restaurant-info {
    display: flex;
    justify-content: space-between;
    gap: 20px; }
  .restaurant-container .grid_wrapper__4 {
    gap: 25px; }
  .restaurant-container .restaurant-item {
    display: block;
    width: 100%; }
    .restaurant-container .restaurant-item p {
      font-size: 18px; }
  .restaurant-container a {
    display: block;
    transition: all ease-in-out 180ms; }
    .restaurant-container a:hover {
      transform: scale(1.035); }
  .restaurant-container img {
    margin: auto;
    box-shadow: 0 4px 13px -2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    width: 100%;
    max-width: 358px; }

#logos-section {
  position: relative;
  background-image: url(../img/bg-wave.png);
  background-repeat: repeat;
  background-position: center;
  background-size: contain; }
  #logos-section .logo-content {
    margin-bottom: 70px; }
  #logos-section .grid_wrapper__3 {
    gap: 5%; }
  #logos-section img {
    margin: auto;
    max-width: 95%; }

.contact-us-content .grid_wrapper__2 {
  gap: 5%;
  margin-bottom: 45px; }

.map-detail {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  box-shadow: 0 4px 13px -2px rgba(0, 0, 0, 0.3);
  height: 0; }
  .map-detail iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.contact-content {
  text-align: left; }
  .contact-content ul {
    margin-bottom: 20px;
    text-align: left; }
    .contact-content ul li {
      position: relative;
      padding-left: 44px;
      padding-bottom: 13px; }
      .contact-content ul li::before {
        position: absolute;
        display: block;
        content: "";
        width: 27px;
        height: 27px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center left;
        top: 1px;
        left: 0; }
      .contact-content ul li:nth-child(1)::before {
        background-image: url("../img/icon-location.svg"); }
      .contact-content ul li:nth-child(2)::before {
        background-image: url("../img/icon-call.svg"); }
      .contact-content ul li:nth-child(3)::before {
        background-image: url("../img/icon-fax.svg"); }
      .contact-content ul li a {
        color: #1f1f21;
        display: block;
        line-height: 1.35em; }
  .contact-content h4 {
    margin-bottom: 2rem; }

.mobile-welcome,
#toggle-menu {
  display: none; }

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  background-color: #c61f26;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 999; }
  .topnav .container-fluid {
    height: 100%; }
  .topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .topnav ul li {
      position: relative;
      margin-top: auto;
      margin-bottom: auto; }
      .topnav ul li a {
        display: block;
        color: #f9b55c;
        padding: 10px 13px;
        font-family: 'Montserrat', sans-serif;
        transition: all ease-in-out 180ms; }
        .topnav ul li a:hover {
          color: #1f1f21; }
      .topnav ul li ul {
        position: absolute;
        flex-direction: column;
        white-space: nowrap;
        margin-top: 12px;
        background: #c61f26;
        height: auto;
        transition: all ease-in-out 180ms;
        opacity: 0;
        visibility: hidden; }
        .topnav ul li ul li {
          width: 100%; }
      .topnav ul li:hover ul {
        opacity: 1;
        visibility: visible; }

.chef-qoute-container {
  padding: 80px 0; }
  .chef-qoute-container .chef-qoute-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px; }
  .chef-qoute-container img {
    transform: translateY(0); }
  .chef-qoute-container .qoute {
    max-width: 465px; }
  .chef-qoute-container h5 {
    font-size: 27px;
    color: #c61f26;
    margin: 0 0 25px 0; }
  .chef-qoute-container .founder-name {
    font-style: italic; }
    .chef-qoute-container .founder-name p {
      margin-top: 0; }
    .chef-qoute-container .founder-name span {
      display: block; }

.owl-carousel {
  max-width: 1200px;
  margin: auto; }

.owl-nav {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between; }
  .owl-nav span {
    color: #ffffff;
    width: 46px;
    height: 50px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-indent: -999px;
    background: url("../img/chevron-left.svg");
    background-size: contain;
    background-position: center;
    background-color: rgba(198, 31, 38, 0.5); }
  .owl-nav span[aria-label="Next"] {
    transform: scaleX(-1) scale(1); }

span.btn,
a.btn {
  display: inline-block;
  border: 4px double #f9b55c;
  line-height: 1em;
  color: #f9b55c;
  background-color: #c61f26;
  font-family: 'Montserrat', sans-serif;
  padding: 9px 14px;
  transition: all ease-in-out 180ms; }
  span.btn:hover,
  a.btn:hover {
    background-color: #1f1f21;
    color: #ffffff; }

@media (max-width: 1200px) {
  #our-history-section .timeline-info {
    min-height: 163px; } }
@media (max-width: 992px) {
  .hide-mb-992 {
    display: none; }

  .main-content:after {
    display: none; }

  header {
    height: 650px; }

  .mobile-welcome {
    position: absolute;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25); }
    .mobile-welcome::after {
      position: absolute;
      display: block;
      content: "";
      width: 40px;
      height: 40px;
      background: url("../img/chevron-down.svg");
      background-position: center;
      background-repeat: no-repeat;
      bottom: 10px;
      animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      -moz-animation: bounce 2s infinite;
      -o-animation: bounce 2s infinite; }
    .mobile-welcome h2 {
      color: #f9b55c;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin-bottom: 1.75rem; }
    .mobile-welcome img {
      max-width: 179px;
      margin: auto; }

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-15px); }
    60% {
      -webkit-transform: translateY(-10px); } }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0); }
    40% {
      -moz-transform: translateY(-15px); }
    60% {
      -moz-transform: translateY(-10px); } }
  @-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -o-transform: translateY(0); }
    40% {
      -o-transform: translateY(-15px); }
    60% {
      -o-transform: translateY(-10px); } }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); }
    40% {
      transform: translateY(-15px); }
    60% {
      transform: translateY(-10px); } }
  .sidebar-container {
    position: fixed;
    z-index: 999;
    height: 100%;
    transform: translateX(-311px);
    transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 180ms; }
    .sidebar-container nav ul li a {
      font-size: 16px !important; }
    .sidebar-container .logo {
      margin-top: 15px; }
      .sidebar-container .logo img {
        display: none; }
      .sidebar-container .logo a {
        background: url("../img/mobile-logo.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100px;
        height: 100px; }

  button#toggle-menu {
    position: absolute;
    display: block;
    top: 13px;
    right: 0;
    width: 43px;
    height: 43px;
    overflow: hidden;
    text-indent: -999px;
    outline: none;
    border: none;
    background-color: transparent;
    background: url("../img/menu.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    button#toggle-menu.active {
      background: url("../img/close.svg"); }

  .container-fluid {
    width: 95%; }

  #welcome-to-donghup .grid_wrapper__3 {
    display: block; }
  #welcome-to-donghup .welcome-container ul {
    padding-top: 50px;
    margin-bottom: 40px; }
  #welcome-to-donghup .grid_wrapper__2 {
    gap: 25px;
    grid-template-columns: repeat(1, 1fr); }

  #mission-vision {
    padding-top: 40px; }

  #our-history-section {
    padding-top: 120px;
    padding-bottom: 0; }
    #our-history-section .history-timeline .grid_wrapper__2 {
      gap: 0;
      padding-bottom: 50px;
      grid-template-columns: repeat(1, 1fr); }
    #our-history-section .timeline-detail:before, #our-history-section .timeline-detail:after {
      display: none; }
    #our-history-section .timeline-info {
      min-height: 163px;
      min-height: auto;
      background: none;
      text-align: left;
      padding: 0;
      display: block; }

  #three-info {
    padding-top: 40px; }
    #three-info .three-info-container .grid_wrapper__3 {
      gap: 35px;
      grid-template-columns: repeat(1, 1fr); }
    #three-info .three-detail .heading-text-sm {
      padding: 0;
      width: 95%; }

  .heading-text-sm {
    height: 90px;
    padding: 0 35px; }
    .heading-text-sm:before, .heading-text-sm:after {
      height: 90px; }
    .heading-text-sm:before {
      left: -23px; }
    .heading-text-sm h2 {
      font-size: 2rem; }

  .heading-text.heading-text-lg {
    transform: scale(0.8); }

  .our-menu-content .our-menu-container {
    padding: 0px 0 20px 0; }
  .our-menu-content .grid_wrapper__3 {
    grid-template-columns: repeat(1, 1fr); }

  #restaurant .restaurant-container .restaurant-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

  #contact-us .contact-us-content .grid_wrapper__2 {
    gap: 1%;
    margin-bottom: 45px;
    grid-template-columns: repeat(1, 1fr); }

  #topnav {
    position: fixed;
    top: 68px;
    background-color: #c61f26;
    width: 100%;
    left: 0;
    height: auto;
    display: none; }

  .topnav ul li a {
    padding: 12px 13px;
    border-bottom: 1px solid #a90f15; }
  .topnav ul li ul {
    opacity: 1;
    visibility: visible;
    position: relative;
    margin-top: 0;
    background: #c01c22; } }
@media (max-width: 768px) {
  #restaurant .restaurant-container .restaurant-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }

  #banquet-halls {
    margin-bottom: 20px; }

  #logos-section .grid_wrapper__3 {
    grid-template-columns: repeat(1, 1fr); }
  #logos-section img {
    max-width: 260px; }

  #contact-us {
    margin-top: 45px; }

  .chef-qoute-container .chef-qoute-detail {
    flex-direction: column; } }
@media (max-width: 676px) {
  .container-fluid {
    width: 100%; }

  .gold-border {
    background-image: url(../img/border-gold-big.png);
    min-height: 193px;
    padding: 0 30px; }
    .gold-border p {
      font-size: 17px; }

  button#toggle-menu {
    right: 20px; } }
@media (max-width: 420px) {
  .heading-text.heading-text-lg {
    transform: scale(0.6);
    padding: 0; }

  .contact-content h4 {
    font-size: 1.35rem; }

  .heading-text-sm:before {
    left: -22px; }

  .container-fluid {
    padding: 0 25px; } }
@media (max-width: 375px) {
  .heading-text.heading-text-lg {
    zoom: 0.8; }

  .heading-text:after {
    right: -28.5px; }

  #our-history-section {
    padding-top: 70px; } }